<!--
  Copyright 2017 PerceptIn

  This End-User License Agreement (EULA) is a legal agreement between you
  (the purchaser) and PerceptIn regarding your use of
  PerceptIn Robotics Vision System (PIRVS), including PIRVS SDK and
  associated documentation (the "Software").

  IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS EULA, DO NOT INSTALL,
  USE OR COPY THE SOFTWARE.

   :+++++;                                                  ++'
   ++++++++;                                                ++'
   ++`   .++ .'''''` '''',     :':   `''''', ;''':  '''''''`++' '`   ''
   ++`    ++ ++''''.;+'''++, ;++'++, ++'''',,+'''++:+''++''.++',+'   ++
   ++`  :+++ ++     ;+.   ++ ++   ++ ++     ,+,   ++   ++   ++',+++  ++
   +++++++`  ++     ;+.  .++ ++      ++     ,+,  .++   ++   ++',+++. ++
   +++:`     +++++  ;+.;++'  ++      +++++  ,+++++;    ++   ++',+,++ ++
   ++`       ++```  ;+`++    ++      ++```  ,+'.       ++   ++',+,,+'++
   ++`       ++     ;+.,++   ++      ++     ,+,        ++   ++',+, ++++
   ++`       ++     ;+. :++  ++. ,++ ++     ,+,        ++   ++',+,  +++
   '+`       ++''''.:+.  ;++  '+'+'  ++'''',,+,        '+   ++',+,  ;+'
-->

<launch>
	<arg name = "cam_calib"  default="$(find pirvs_ros)/pirvs/calib/calib_PerceptIn_Ironsides.json" />
	<arg name = "voc"        default="$(find pirvs_ros)/pirvs/voc_ironsides.json" />
	<group ns = "pirvs_slam">
		<node pkg="pirvs_ros" name="slam_node" type="slam_node"
		args="$(arg cam_calib) $(arg voc)"/>
    </group>
</launch>
